<?xml version="1.0"?>

<robot name="mavs" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <!-- Necessary includes -->
  <xacro:include filename="$(find mavs_description)/urdf/hwmmv.urdf.xacro" />
  <xacro:include filename="$(find mavs_description)/urdf/vehicle_gazebo.urdf.xacro" />

  <!-- Bolt-on sensors go here -->
  <xacro:include filename="$(find mavs_description)/urdf/velodyne_16.xacro"/>
  <velodyne_16 parent="${base_link}" lidar_x="${lidar_x}" lidar_z="${lidar_z}"/>
</robot>
