<?xml version="1.0" ?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mavs_description)/urdf/velodyne_16_bot.xacro'" />

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot" />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="state_pub" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_pub" pkg="joint_state_publisher" type="joint_state_publisher"/>

</launch>
